<%= f.input :name, :label => _("Nome"), :placeholder => _("Nome") %>

<%= f.input :logo, :as => :file, :label => _("Logo") %>  

<% if @brand.logo.exists? %>
  <div class="col-sm-10 col-sm-offset-2">
    <%= image_tag(@brand.logo.url(:small), 
      :class => "img-rounded") %>
    <br/><br/>
  </div>
<% end %>